        .body{
          background-color: darkolivegreen;
          height:20cm;
        }
        .header{
          width: 9cm;
          height: 1cm;
          border: black;
          border-style: solid;
          position: relative;
          left: 15cm;
          border-radius: 40px;
          background-color: #338B5A;
        }
         /* hadder */
         .home,.help{
           width: 2cm;
           height: 0.8cm;
           background-color: darkgoldenrod;
           text-align: centerd;
           cursor: pointer;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 15px;
         }
 
         .contact{
           position: relative;
           left: 6cm;
           bottom: 1.5cm;
           width: 2.5cm;
           height: 0.8cm;
           background-color: darkgoldenrod;
           text-align: center;
           cursor: pointer;
           justify-content: center;
           display: flex;
           align-items: center;
           border-radius: 15px;
         }
 
         .home{
           position: relative;
           left:0.9cm;
           top: 0.1cm;
         }
 
         .help{
           position: relative;
           left: 3.4cm;
           bottom: 0.7cm;
         }



        /* lower content */



         .shape{
           width: 6.8cm;
           height: 13cm;
           background-color: #7B7C86;
           border: black;
           border-style: solid;
           position: relative;
           left: 0.7cm;
           top: 1.8cm;
           text-align: center;
           border-radius: 50PX;
           overflow-y:scroll;
         }
         .shape::-webkit-scrollbar{
           height: 2cm;
         }

         .canvas{
          width: 20cm;
          height: 15cm;
          border: black;
          border-style: solid;
          position: relative;
          left: 9.5cm;
          bottom: 12.2cm;
          text-align: center;
          background-color: #404040;
          border-radius: 80PX;
         }
         
         .color{
          width: 6.7cm;
          height: 13cm;
          background-color:#E8D8A4;
          border: black ;
          border-style: solid;
          position: relative;
          left: 32cm;
          text-align: center; 
          bottom: 28.2cm;
          border-radius: 50px;
         }

         /* tag design */



         .canvastitel,.shapetittle,.colortitel {
          background-color:#3A6A81;
          color: white;
          font-family: Segoe Print;
          display: flex;
          justify-content: center;
          align-items: center;   
         }
         .colortitel{
           width: 2.5cm;
           height: 0.6cm;
           border-color: black;
           border-style: solid;
           border-radius: 40px 40px 0 0;
           position:relative;
           left: 34.2cm;
           bottom: 13cm;
         }
         .shapetittle{
          width: 2.5cm;
          height: 0.6cm;
          border-color: black;
          border-style: solid;
          border-radius: 40px 40px 0 0;
          position: relative;
          left: 2.9cm;
          top: 1.9cm;
         }

         .canvastitel{
          border: black;
          border-style: solid;
          border-radius: 40cm 40cm 0 0;
          width: 5cm;
          height: 0.8cm;
          position: relative;
          left:17cm;
          bottom: 11.4cm;
         }

        

         /* more items */


        .color7{
          width: 3cm;
          height: 0.7cm;
          font-size: 1.5ch;
          font-weight: bold;
          background-color:white;
          text-align: center;
          cursor: pointer;
          justify-content: center;
          display: flex;
          align-items: center;
          position: relative;
          border-radius: 15px;
        }
        .color7{
          position: relative;
          bottom: 1.7cm;
          left: 1.9cm;
        }
        .moreshape{
          width: 1cm;
          height: 0.5cm;
          position: relative;
          top: 2.5cm;
          left:2cm;
        }

        .color1,.color2,.color3,.color4,.color5,.color6{
          width: 4.6cm;
          height: 1cm;
          border: black;
          border-style: solid;
          position: relative;
          top: 0.4cm;
          left: 0.5cm;
        }
        .color1{
          background-color: #214545;
        }
        .color2{
          position: relative;
          top: 1.1cm;
          background-color: #B33D3F;
        }
        .color3{
          position: relative;
          top: 1.8cm;
          background-color: #827F69;
        }
        .color4{
          position: relative;
          top: 2.5cm;
          background-color: #F4EC80;
        }
        .color5{
          position: relative;
          top: 3.2cm;
          background-color: #8FAB85;
        }
        .color6{
          position: relative;
          top: 3.9cm; 
          background-color: #A76269;
        }
        .colorsearch{
          width: 4cm;
          height: 0.7cm;
          display: flex;
          align-items: center;
          /* border-radius: 40px; */
          position: relative;
          left: 1.3cm;
          top: 0.18cm;
          background-color: white;
          font-size: 0.4cm;
        }
        .shape1,.shape2,.shape3,.shape4,.shape5{
          width: 5cm;
          height: 5cm;
          border: black;
          border-style: solid;
          position: relative;
          top: 0.2cm;
          left: 0.8cm;
          background-color: #3B585C;
          border-radius: 10px;
        }
        .shape1{
          position: relative;
          top: 1cm;
        }
        .shape2{
          position: relative;
          top: 1.3cm;
        }
        .shape3{
          top: 1.6cm;
        }
        .shape4{
          top: 1.9cm;
        }
        .shape5{
          top: 2.2cm;
        }
        .art0{
          width: 15cm;
          height: 10cm;
          position: relative;
          top: 2.5cm;
          left: 2.4cm;
          border: gray;
          border-style: solid;
          cursor: pointer;
        }
        .art1{
          width :1.3cm;
          height :1.3cm;
          bottom :5.2cm;
          left: 1.04cm;
          position: relative;
          cursor: pointer; 
          border: gray;
          border-style: solid;
        }
        .art2{
          width :1.3cm;
          height :1.3cm;
          bottom :6.63cm;
          left: 17.46cm;
          position: relative;
          cursor: pointer; 
          border: gray;
          border-style: solid;
        }
        .art3{
          width :7cm;
          height :1cm;
          bottom :2.3cm;
          left: 8cm;
          position: relative;
          cursor: pointer; 
          border: gray;
          border-style: solid;
        }
        .art4{
          width :4cm;
          height :0.4cm;
          bottom :4.2cm;
          left: 9.53cm;
          position: relative;
          cursor: pointer; 
          border: gray;
          border-style: solid;
        }
        .art5{
          width :0.5cm;
          height :4cm;
          bottom :10cm;
          left: 9.5cm;
          position: relative;
          cursor: pointer; 
          border: gray;
          border-style: solid;
        }
        .art6{
          width :1.5cm;
          height :1.5cm;
          bottom :11cm;
          left: 9.75cm;
          position: relative;
          cursor: pointer; 
          border-radius: 50px;  
          border: gray;
          border-style: solid;
        }
        .art7{
          width :2cm;
          height :2cm;
          bottom :16.5cm;
          left: 5cm;
          position: relative;
          cursor: pointer; 
          border-radius: 50px;  
          border: gray;
          border-style: solid;
        }
        .art8{
          width :2cm;
          height :2cm;
          bottom :18.6cm;
          left: 12.5cm;
          position: relative;
          cursor: pointer; 
          border-radius: 50px; 
           border: gray;
          border-style: solid;
        }
        .art9{width :1.5cm;
          height :1.5cm;
          bottom :23.7cm;
          left: 10.4cm;
          position: relative;
          cursor: pointer; 
          border-radius: 50px; 
          border: gray;
          border-style: solid;
        }
        .art10{width :1.5cm;
          height :1.5cm;
          bottom :25.32cm;
          left: 7.5cm;
          position: relative;
          cursor: pointer; 
          border-radius: 50px; 
          border: gray;
          border-style: solid;
        }  
      
        .firstart,.secondart{
          height:160px;
          width:160px;
          cursor: pointer;
          position: relative;
          top: 0.4cm; 
          border-radius: 20px;
        }
        .secondart1{
          border: gray;
          border-style: solid;
          width:0.5cm ;
          height:4cm ;
          top: 9cm;
          left: 8.5cm;
          position: relative;
          cursor: pointer;
        }
        .secondart2{
          border: gray;
          border-style: solid;
          width:0.5cm ;
          height: 4cm;
          top: 4.88cm;
          left: 9.5cm;
          position: relative;
          cursor: pointer;
        }
        .secondart3{
          border: gray;
          border-style: solid;
          width:0.5cm ;
          height: 4cm;
          top: 0.78cm;
          left: 10.5cm;
          position: relative;
          cursor: pointer;
        }
        .secondart4{
          border: gray;
          border-style: solid;
          width:0.5cm ;
          height: 4cm;
          bottom: 3.35cm;
          left: 11.5cm;
          position: relative;
          cursor: pointer;
        } 
        .secondart5{
          border: gray;
          border-style: solid;
          width:4cm;
          height:2cm;
          bottom:11.5cm;
          left:8.2cm;
         border-radius: 0px 0px 200px 200px;
         position: relative;
         cursor: pointer;
        }
        .secondart6{
          border: gray;
          border-style: solid;
          width:0.8cm;
          height:0.8cm;
          bottom:11cm ;
          left:9.8cm ;
         border-radius: 30px;
         position: relative;
         cursor: pointer;
        }
        .secondart7{
          border: gray;
          border-style: solid;
          width: 1.5cm;
          height: 1.5cm;
          bottom:17cm ;
          left:9.4cm ;
          border-radius: 40px;
          position: relative;
          cursor: pointer;
        }
        .lock1,.lock2,.lock3,.lock4,.lock5,.lock6{
          width: 1cm;
          height: 1cm;
          /* border: navy;
          border-style: solid; */
          border-radius: 40px;
          position: relative;
          left: 5.4cm;
          bottom: 6.32cm;
          background-color: #E8D8A4;
        }
        .lock2{
           bottom:5.46cm;
        }
        .lock3{
           bottom:4.6cm;
        }
        .lock4{
           bottom:3.85cm;
        }
        .lock5{
           bottom:3cm;
        }
        .lock6{
           bottom:2.19cm; 
        }
        .lockimage1{
          height: 0.5cm;
          width: 0.3cm;
          cursor: pointer;
          position: relative;
          top: 0.2cm;
        }